
.metadata/.lock
.metadata/.log
*.gen
*.index
*.prefs
*.fnm
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
*.fdx
*.frq
*.nrm
*.tii
*.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.lock
*.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
*.json
*.log
*.xml
*.setup
*.ini
*.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1a/d014b9dbadcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/30/301baca5adcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/42/00309ab9adcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/43/e0bc8697adcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/45/806b9cd8adcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/5/40259bbaadcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/5f/709e2aaaadcb001713e5863fa1ba9506
.metadata/.plugins/org.eclipse.core.resources/.history/a0/300fc3e0adcb001713e5863fa1ba9506
*.snap
*.properties
*.resources
*.dat
*.xmi
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.history
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.launch
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/9.png
